doctype html
html
  body
    form(action='/match', method='post')
      | Search bar
      br
      input(type='text', name='firstname')
      input(type='text', name='lastname')
      input(type='submit', name='button')
