doctype html
html
  body
    form(name='add-estimation', action='/submit-user', method='post')
      input(type='text', name='firstname')
      input(type='text', name='lastname')
      input(type='text', name='email')
      input(class='button btn btn-warning',type='submit', value='submit')
